<!DOCTYPE html>
<html>
<head>
  <title>Faithbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2>fai&#10013;hbook</h2>
    <p>The Christian social network.</p>
    <nav>
      <p>
        <!-- mms: do you want to show this ALL the time, or only when we are not signed in -->
        <%= form_tag("/sign_in", method: "post") do %>
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="password" />
          <input type="submit" value="Sign In" />
        <% end %>
      </p>

      <a href="/">home</a> |
      <a href="/sign_up">sign up</a>
      <% if session[:user] %>
        <a href="/sign_out"> | <%= session[:user]["username"] %>:sign out</a>
      <%end%>
      <p class="notice">
        <%= flash[:notice] %>
      </p>
    </nav>
  </header>

  <main>
    <!-- mms: recommend `yield` goes here -->
  </main>

  <footer>
  </footer>
<!-- mms: This yields the contents of each view here.  Do you really want this after your footer? -->
<!-- mms:   Granted, this mistake would be more obvious if you actually had content in the footer :)  -->
<%= yield %>

</body>
</html>
